// _shame.scss 			~/styles/
// Styles here will be included throughout the project. Limit use as much
// as possible. Using too much here can cause un intended effects. Shame?
////////////////////////////////////////////////////////////


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: rem-calc(300)
}

h1 {
    margin-bottom: rem-calc(10);
}