// config-fonts.scss 			./styles/mixins/
////////////////////////////////////////////////////////////



$interstate      : "interstate-regular", arial;
$interstate-bold : "interstate-bold", arial;

$industry        : "industry-book", arial;
$industry-light  : "industry-light", arial;
$industry-bold   : "industry-bold", arial;
